.App {
  text-align: center;
  background-color: black;
  
}
body {

  background-color: #000;

}
html{
  background-color: #000;
  height: 100%;
}
.form input{
  margin: 10px;
}
.form textarea{
  margin: 10px;
}


.genre-boxes {
  display: flex;
  justify-content: space-around;
  position: relative;
  flex-direction:  row ;
  flex-wrap: wrap;
  text-decoration: none;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  border: 1px solid rgb(0, 0, 0);
  padding: 10px

}
.main-div{
  height:100%;
  color: white;
  text-decoration: none;
}
.main-div h3{
  font-weight: bold;
  color: white;
}


.main-container{
  font-weight: bolder;
  color: white;
}

.beatles {
  background: url('./images/beatles.jpg');
  height: 100%;
  max-width: 100%;
  /* filter: blur(5px); */
  object-fit: contain;
 background-size:cover
}

.artist{
  display: flex;
  flex-direction:  column ;
  text-align: start;
  align-items: center;
}

.change_height{
  height: 226.09px;
}
.genre-item{
  height: 226px;
  width: 400px;
  margin: 10px;
  font-size: 20px;
  border: 1px solid rgb(0, 0, 0);
  overflow: hidden;
  background-size:cover

}

.genre-item img:hover {
  width: 400px;
  margin: 10px;
  font-size: 20px;
  filter: blur(2px);
  border: 1px solid rgb(255, 255, 255);
  overflow: hidden;
  background-size:cover

}


.genre-item a{
  color: rgb(255, 255, 255);
  text-decoration: none;
  position: absolute;
  z-index: 30;
  padding: auto;
}

.genre-item img{
  background-position: center;
}
.genre-container{
  position: relative;
  
}
.genre-container div:hover{
  filter: blur(3px);
  transition: 700ms;
}


.genre-container p{
  text-shadow: 3px 2px black;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 30px;
  position: absolute;
  z-index: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
}


.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: black;
  position: relative;
  margin-bottom: 50px;

}
.navbar h1{
color: rgb(255, 255, 255);
  
}
.artists h3{
  color: rgb(255, 255, 255);
    
  }

.navlinks a{
  padding: 10px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bold;
}


.navlinks a:hover{
  color: rgb(132, 132, 132);

}

.artist{
  color:white;
}